
       <h1>Tambola</h1>

        <div class="col-lg-12">
            <div class="boardRow row col-lg-12" *ngFor="let row of BoardData">
                <div 
                [ngClass]="bNumber.selected? (bNumber.value == CurrentNumber? 'boardNumber current': 'boardNumber selected'): 'boardNumber'"
                *ngFor="let bNumber of row">
                <a> {{bNumber.value}}  </a>
                </div>
            </div>
        </div>
       
        <div>
            <div class="numbers-container row">
                <div class="col-lg-12 next-number">
                    <button class="btn btn-success" (click)="NextNumber()">Next Number</button>
                </div>
                <div class="recent-numbers col-lg-3">
                    <label>Recent Numbers</label>
                    <div *ngFor="let recentNumber of RecentNumbers"
                    [ngClass]="recentNumber == CurrentNumber? 'recent-number current': 'recent-number'">
                      {{recentNumber}}
                    </div>
                </div>
                <div class="current-number col-lg-9">
                    Chosen Number: {{CurrentNumber}}
                </div>
                
            </div>
        </div>





